<!DOCTYPE HTML>
<html>
	<head>
		<title>Art Gallery</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800" type="text/css">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<!--[if lte IE 8]><script src="js/html5shiv.js"></script><![endif]-->
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<script src="js/skel.min.js"></script>
		<script src="js/skel-panels.min.js"></script>
		<script src="js/init.js"></script>
		<noscript>
			<link rel="stylesheet" href="css/skel-noscript.css" />
			<link rel="stylesheet" href="css/style.css" />
			<link rel="stylesheet" href="css/style-desktop.css" />
		</noscript>
	</head>
	<body class="homepage">

	<!-- Header -->
	<div id="header">
		<div id="nav-wrapper" class="container">
			<!-- Nav -->
			<nav id="nav">
				<ul>
					<li class="logo"><a href="/"><img src="../images/logo.png"></a></li>
					<li><a href="/gallery">Gallery</a></li>
					<li><a href="/about">About</a></li>
					<li><a href="/purchase">Purchase</li>
					<li><a href="/login" class="signup-btn">Log-in</a></li>
				</ul>
			</nav>
		</div>
		<!-- Banner -->
		<div class="container">
			<div id="banner"><img src="files/The Creation of Adam in Detail Michelangelo.jpg" alt="" class="image featured"></div>
		</div>
	</div>
	<!-- Header -->

	<!-- Main -->
		<div id="main">

			<div class="container">
				<section>
					<header>
						<h2>Featured Art Works</h2>
					</header>
					<div class="row">
						<div class="4u">
							<section>
								<h3>"The Persistence of Memory" - Salvador Dali</h3>
								<img src="files/SalvadorDali/The Persistence of Memory.jpg" alt="dali_Memory" width="400" height="250">
								<p>The Persistence of Memory is a 1931 painting by artist Salvador Dalí and one of the most recognizable works of Surrealism.</p>
								<a href="/details" class="button">View Full Details</a>
							</section>
						</div>
						<div class="4u">
							<section>
								<h3>"the old bends a painful weapon" - Ivan Seal</h3>
								<img src="files/IvanSeal/the old bends a painful weapon.jpg" alt="seal_oldbends" width="300" height="550">
								<p>The old bends a paniful weapon made by Ivan Seal who was born in Stockport, England and lives and works in Berlin.</p>
								<a href="#" class="button">View Full Details</a>
							</section>
						</div>
						<div class="4u">
							<section>
								<h3>"Firebird" - Ted Geisel</h3>
								<img src="files/TedGeisel/Firebird.jpg" alt="geisel_firebird" width="400" height="350">
								<p>Freebird, a long sold-out limited edition, depicts a yellow Seussian bird, sailing contentedly midst waves rolling against a rosy sky, his incredibly long tail floating high above him. </p>
								<a href="#" class="button">View Full Details</a>
							</section>
						</div>
					</div>
				</section>
			</div>
		</div>
	<!-- /Main -->

	<!-- Footer -->
	<footer>
		<div class="footer-content">
			<h3>Art Gallery</h3>
			<p>Where artists make money</p>
			<ul class="socials">
				<li><a href="https://www.facebook.com/JohnSarmiento2/"><i class ="fa fa-facebook" target="_blank"></i></a></li>
				<li><a href="https://twitter.com/jmtong_2" target="_blank"><i class ="fa fa-twitter"></i></a></li>
				<li><a href="https://www.instagram.com/matt.florendo/"><i class ="fa fa-instagram" target="_blank"></i></a></li>
				<li><a href="https://github.com/EternalSunshineoftheSpotlessMind" target="_blank"><i class ="fa fa-github"></i></a></li>
			</ul>
		</div>
	</footer>
	</body>
</html>
